---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Natanael Cirino" lang="pt">
  <Header lang="pt" />
  <main>
    <Hero lang="pt" />
  </main>
</Layout>
